.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  /* background-color: black; */
  color: white;
  /* padding-left: 50px!important; */
  /* padding-right: 50px!important; */
}
.top-bar {
  padding: 70px 50px 60px 50px;
  color: black;

}
.top-bar.dark {
  color: white;
}
.top-bar .btn {
  color: black;
}
.top-bar.dark .btn {
  color:white;
}

.tp-ag {
  font-family: Roboto;
  
  font-weight: 700;
  
  letter-spacing: 0em;
  text-align: left;

}
.f-16 {
  font-size: 16px;
  line-height: 21px;
}
.f-14 {
  font-size: 14px;
  line-height: 16.41px;
}
.f-24 {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: justify;
}
.f-40 {
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}
.f-73 {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 115px;
}
.btn-join {
  border: 1px solid black;
  border-radius: 0px 0px 15px 15px;
  padding: 15px 10px;
  min-width: 150px;
  background: black;
  color: white!important;

}
.top-bar.dark .btn-join {
  border: 1px solid white;
  border-radius: 0px 0px 15px 15px;
  padding: 15px 10px;
  color: white;
  background: initial;
}
.title {
  font-family: Saira Stencil One;
  font-size: 96px;
  font-weight: 400;
  line-height: 151px;
  letter-spacing: 0em;

}
.content {
  font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-align: justify;
}
@font-face {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 700, bold;
  font-display: swap;
  src: url('./fonts/SairaStencilOne-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700, bold;
  font-display: swap;
  src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700, bold;
  font-display: swap;
  src: url('./fonts/RobotoMono-Regular.ttf');
}
.main-content {
  padding: 0px 50px;
}
.saira-stencil-one {
  font-family: 'Saira Stencil One';
}

.roboto {
  font-family: 'Roboto';
}
.roboto-mono {
  font-family: 'Roboto Mono';
}
.nft {
  padding-top: 40px;
  /* height: 564px; */
}
.nft-content {
  padding-right: 50px;
  padding-left: 20px;
}
.nft-item {
  width: 350px;
}
.nft-common {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.27%, rgba(127, 0, 227, 0.3) 100%);
  border: 9px solid #7F00E3;
  border-radius: 10px;
}
.nft-medic {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.27%, rgba(0, 227, 159, 0.3) 100%);
  border: 9px solid #00E39F;
  border-radius: 10px;
}
.nft-engineer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.27%, rgba(0, 36, 227, 0.3) 100%);
  border: 9px solid #0024E3;
  border-radius: 10px;
}
.nft-scientists {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.27%, rgba(0, 227, 227, 0.3) 100%);
  border: 9px solid #00E3E3;
  border-radius: 10px;
}
.nft-soilder {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.27%, rgba(0, 227, 9, 0.3) 100%);
  border: 9px solid #00E309;
  border-radius: 10px;
}
.nft-commander {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.27%, rgba(227, 196, 0, 0.3) 100%);
  border: 9px solid #E3C400;
  border-radius: 10px;
}
.nft-thumb {
  background: linear-gradient(180deg, rgba(186, 186, 186, 0.2) 0%, rgba(186, 186, 186, 0) 100%);
  border-radius: 10px;
  width: 173px;
  height: 239px;
  display: flex;
  justify-content: center;
  align-items:flex-end;
}
.swiper-slide-thumb-active .nft-thumb-common {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #7F00E3 100%);
border-radius: 10px;
border: 9px solid #7F00E3;
}
.swiper-slide-thumb-active .nft-thumb-medic {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00E39F 100%);
  border-radius: 10px;
  border: 9px solid #00E39F;
}
.swiper-slide-thumb-active .nft-thumb-engineer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0024E3 100%);
  border-radius: 10px;
  border: 9px solid #0024E3;
}
.swiper-slide-thumb-active .nft-thumb-scientist {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00E3E3 100%);
border-radius: 10px;
border: 9px solid #00E3E3;
}
.swiper-slide-thumb-active .nft-thumb-soilder {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00E309 100%);
  border-radius: 10px;
  border: 9px solid #00E309 ;
}
.swiper-slide-thumb-active .nft-thumb-commander {  

  border: 9px solid #E3C400;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E3C400 100%);
  border-radius: 10px;

}
.leader-item {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
  width: 850px;
}
.leader-item img {
  height: 80%;
}
.leader-thumb {
  display: flex;
  justify-content: center;
  align-items:flex-end;
}
.swiper-slide-thumb-active .leader-thumb {  

  border: 9px solid #E3C400;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E3C400 100%);
  border-radius: 10px;

}
.swiper-button-prev, .swiper-button-next {
  color: white!important;
}
.swiper-wrapper {
  align-items: center;
}
.background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  align-self: auto;
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.home-bg {
  background-image: url('./images/bgNew.png');
}
.team-bg {
  background-image: url('./images/teamBg.png');
}
.roadmap-bg {
  background-image: url('./images/roadmapbg.png');;
}
.team-image {
  right: 0px;
  z-index: -1;
}


.home-image {
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
.about-image {
  left: 0px;
  z-index: -1;
}

.welcome-text {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 101px;
  letter-spacing: 0.545em;
  text-transform: uppercase;

  color: #FFFFFF;
}
.norida-text {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 173px;
  letter-spacing: 0.54em;

  color: #FFFFFF;

  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.home-subtitle1 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.btn-no-bg {
  background: initial;
  border: none;
}

.footer {
  background: rgba(101, 0, 106, 0.38);
  min-height: 148px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-item {
  min-width: 150px;
}
.vertical-line {
  width: 1px;
  min-height: 80px;
  background-color: #fff;
  align-self: center;
}

.about-bg {
  background-image: url('./images/aboutbg.png');
}
.team-content {
  max-width: 800px;
}

.team-member {
  background-color: black;
  width: 180px;
  margin: 10px 5px;
}
.member-profile {
  background-color: white;
  height: 210px;
}
.member-role {
  font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
text-align: justify;
text-transform: uppercase;
}
.memeber-name {
  background-color: black;
  border: 1px solid #000000;
  color: white;
  font-family: 'Prompt';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
text-align: justify;
  letter-spacing: 0.505em;
}
.member-detail {
  display: none;
  background-color: black;
  border: 1px solid #000000;
  color: white;
  font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
text-align: center;
position: absolute;
top: 227px;
z-index: 999;
}
.member-link {
  color: black;
  background: white;
  width: 100%;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;

}
.team-member:hover .memeber-name {
  letter-spacing: normal;  
}
.team-member:hover .member-detail {
  display: block;
}
.roadmap-item {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  min-height: 330px;
  padding: 15px 10px;
  text-align: left;
}
.roadmap-number {
  position: absolute;
  right: 10px;
  bottom: 15px
}
.roadmap-img {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.roadmap-team-title {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 101px;
  text-transform: uppercase;
}
.roadmap-team-subtitle {
  font-family: 'Saira Stencil One';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 41px;
text-transform: uppercase;
}
.roadmap-nft-title {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 118px;
  text-transform: uppercase;
}
.roadmap-nft-subtitle {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 57px;
  text-transform: uppercase;
  
}
.roadmap-token-title {
  font-family: 'Saira Stencil One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 57px;
/* identical to box height */

text-transform: uppercase;
}
.roadmap-p2e-title {
  font-family: 'Saira Stencil One';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 76px;
text-transform: uppercase;
}
.roadmap-p2e-subtitle {
  font-family: 'Saira Stencil One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 38px;
text-transform: uppercase;
}
.roadmap-tangible-subtitle {
  font-family: 'Saira Stencil One';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 79px;
text-transform: uppercase;
}
.rm-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding: 15px;
}
.btn-rm-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.popup-title {
  font-family: 'Saira Stencil One';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 76px;
/* identical to box height */

text-transform: uppercase;
}
.popup-content {
  font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;
text-align: justify;
}
.popup-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.popup-content {
  max-width: 900px;
  font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;
text-align: justify;
}
.popup-content .subtitle {
  font-weight: 700;;
}
.status {
  padding: 5px 15px;
  border-radius: 5px;
color: white;
}
.status-success {
  background: #17A300;

}
.status-updating {
  background:#A39C00;
}
.status-ready{
  background: #00A38F;
}
.status-drawing {
  background: #A3007F;
}

.status-plan {
  background: #A30000;
}
.status-processing {
  background: #2A00A3;
}
/* .nft-bg {
  background: black;
}
.nft-bg {
  background-image: url('./images/teamBg.png');
} */
.nft-bg {
  background-image: url('./images/aboutbg.png');
}

@media (max-width: 1280px) {
  .team-image,  .about-image {
    display: none;
  }
  .main-content {
    justify-content: center!important;
  }
  .f-73 {
    font-size: 46px;
  }
  .title  {
    font-size: 56px;
    line-height: 76px;
  }
}
.nft-img-container {
  margin: auto;
}
.menu-icon {
  display: none!important;
}
@media (max-width: 768px) {
  .main-content {
    padding: 20px;
  }
  .top-bar {
    padding: 40px 20px 30px 20px;
  }
  .f-40 {
    font-size: 26px;
  }
  .welcome-text {
    font-size: 56px;
    line-height: 65px
  }
  .norida-text {
   font-size: 66px; 
   line-height: 75px
  }
  .menus {
    display: none!important;
  }
  .vertical-line {
    display: none!important;
  }
  .footer-item {
    padding: 10px 0px;
  }
  .menu-icon {
    display: block!important;
  }
  .nft-content {
    padding: 10px 10px;
  }
}
@media (max-width: 576px) {
  .main-content {
    padding: 5px;
  }
  .top-bar {
    padding: 30px 5px 20px 5px;
  }
  .welcome-text {
    font-size: 36px;
    line-height: 45px
  }
  .norida-text {
   font-size: 46px; 
   line-height: 54px
  }
  .home-image {
    width: 150%;
    left: 0px;
    transform: translate(-20%, 0px);
  }
}

.menu-list {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 80vw;
  background-color: #2e2e2e;
  z-index: 9999;
  padding: 30px 20px;
  color: white!important;
}
.menu-list .btn {
  color: white!important;
}
.menu-list .btn-join {
  border: 1px solid white;
  border-radius: 0px 0px 15px 15px;
  padding: 15px 10px;
  color: white;
  background: initial;
}